*{
  padding:0;
  margin:0;
}

.button{
	position:fixed;
	width:60px;
	height:60px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.black-ball{
  background-color:black;
  bottom:390px;
	right:40px;
}

.white-ball{
  background-color: white;
  color: black;
  bottom:320px;
	right:40px;
}

.non-quantum{
	background-color:#0C9;
}

.non-quantum:hover {
  background-color: green;
}

.quantum{
	background-color:#009;
}

.quantum:hover {
  background-color: blue;
}

.start{
	top:40px;
	right:40px;
  background-color: aquamarine;
  color: black;
}

.CNOT{
	bottom:40px;
	right:40px;
}

.SWAP{
	bottom:110px;
	right:40px;
}

.NOT{
	bottom:180px;
	right:40px;
}

.PETE{
	bottom:250px;
	right:40px;
}

.my-float{
	margin-top:22px;
}
